pycairo
flask~=1.1.2
drawSvg~=1.8.1
svg-stack
numpy
lxml
SQLAlchemy~=1.4.9
WTForms~=2.3.3
Werkzeug~=1.0.1
requests~=2.25.1
image==1.5.33
matplotlib
flask-babel==2.0.0
flask-login==0.5.0
names_generator==0.1.0
flask_wtf==0.14.3
cloudinary==1.25.0
flask_session==0.3.2
psycopg2==2.8.6
