
html, body {margin: 0; height: 100%; overflow-x: hidden}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: white;
}

.top-menu-parent{
    position: absolute;
    left: 40px;
    top: 35px;
}

.top-login-parent{
    position: absolute;
    right: 40px;
    top: 35px;
}


.top-menu-element{
transition: top 0.3s;
    color: white !important;
    margin-left: 21px;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

.welcome-label{
    color: white;
    font-family: Source Sans Pro;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    left: 50%;
    margin-top: 209px;
}

.welcome-description{
    text-align: center;
    margin: auto;
    margin-top: -50px;
    width: 800px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    color: rgba(255, 255, 255, 0.53);
}

.Background {
    width: 100%;
    height: 100vh;
    background: radial-gradient(16.22% 35.62% at 0% 1.67%, rgba(51, 0, 255, 0.49) 0%, rgba(51, 0, 255, 0) 100%), radial-gradient(13.92% 26.4% at 94.48% 91.16%, rgba(255, 24, 232, 0.69) 0%, rgba(223, 0, 201, 0) 100%), linear-gradient(106.7deg, #00092B 8.01%, #000B28 55.94%, #3D008A 91.77%);
}

.form-field{
    border: none;
    margin: auto;
    width: 50vh;
    height: 5vh;
    background: rgba(196, 196, 196, 0.33);
    border-radius: 2px;
    color: white;
    font-family: Source Sans Pro;
    font-size: 25px
}

.form-field:focus {
      outline-width: 0;
      caret-color: white;
      caret-: 3px;
}

.form-button{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    margin: auto;
    width: 181px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: none;
    border-radius: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#form-grid {
    display: grid;
    margin-top: 150px;
}

#form-grid > div {
    background: white;
    width: 50vh;
    margin: auto;
    stroke: green;
}

#form-grid > h1 {
    font-family: Source Sans Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}

#form-grid > p {
    width: 50vh;
    margin: auto;
    text-align: left;
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3px;
}

.language-image{
margin-top: 4px ;
height: 18px;
width: 24px;
}

.error-label{
    color: white;
    font-family: Source Sans Pro;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    left: 50%;
    margin-top: 209px;
}

.error-description{
    text-align: center;
    margin: auto;
    margin-top: -50px;
    width: 1000px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    color: rgba(255, 255, 255, 0.53);
}

#news-grid {
    display: grid;
    margin-top: 100px;
}

#news-grid > div {
    width: 500px;
    margin: auto;
}

#news-grid > h1 {
    font-family: Source Sans Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}

#news-grid > p {
    width: 500px;
    margin: auto;
    text-align: left;
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}

#news-grid > input{
    border: none;
    margin: auto;
        width: 500px;
    height: 5vh;
    background: rgba(196, 196, 196, 0.33);
    border-radius: 2px;
    color: white;
    font-family: Source Sans Pro;
    font-size: 25px
}

#news-grid > button{
    border: none;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 500px;
    height: 5vh;
    background: rgba(196, 196, 196, 0.33);
    border-radius: 2px;
    color: white;
    font-family: Source Sans Pro;
    font-size: 25px
}

#news-grid > button:hover{
    border: 1px solid white;
}

#news-grid > input:hover {
      outline-width: 0;
      caret-color: white;
      caret-: 3px;
}

#navbar {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.begin-button {
text-align: center;
margin: auto;
width: 114px;
height: 60px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 48px;
text-align: center;

border-radius: 10px;
border: 1px solid #ccc;
width: 168px;
margin-top: 30px;
height: 50px;
padding-bottom: 10px;
}

.begin-container {
position: absolute;
width: 168px;
height: 67px;
margin: auto;
border: 1px solid #FFFFFF;
border-radius: 16px;
}

.projects-preview-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
}

.projects-preview-container > div{
width: 200px;
height: 100px;
border-radius: 30px;
background: rgba(196, 196, 196, 0.33);
}

