<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap"
          rel="stylesheet">
</head>
<body class="Background">

<div class="top-menu-parent">
    <div class="top-menu-element"><a href="/">{{gettext('Explore')}}</a></div>
    <div class="top-menu-element"><a href="/api-description">{{gettext('API')}}</a></div>
    <div class="top-menu-element"><a href="https://github.com/eteriall/DesignMaker">{{gettext('Source code')}}</a></div>
    <div class="top-menu-element"><a href="/about">{{gettext('About us')}}</a></div>

    {% if show_language != False %}

    {% if session['lang_code'] == 'ru' %}
    <div class="top-menu-element">
        <a href="{{ url_for(request.endpoint, lang_code='en') }}">
        <img class="language-image" src="static/img/en-flag.svg">
    </a>&nbsp;
    </div>

    {% else %}
    <div class="top-menu-element">
        <a href="/about"><a href="{{ url_for(request.endpoint, lang_code='ru') }}">
            <img class="language-image" src="static/img/ru-flag.svg"></a>
        </a>
    </div>
    {% endif %}

    {% endif %}


</div>

<div class="top-login-parent">
    <div class="top-menu-element"><a href="/login">{{gettext('Sign in')}}</a></div>
    <div class="top-menu-element"><a href="/register">{{gettext('Sign Up')}}</a></div>
</div>


{% block content %}
{% endblock %}
</body>
</html>