{% extends "top-menu.html"%}
{% block content %}

<form action="{{ url_for('web_interface.login') }}" method="post">
<div id="form-grid">
    <h1>{{gettext('Sign in')}}</h1>
    <p>{{gettext('Your email')}}</p>
    <input type="email" class="form-field" name="email">
    <p>{{gettext('Password')}}</p>
    <input type="password" class="form-field" name="password">
    {% if error %}
    <p style="color: red; margin-bottom: -20px; margin-top: 10px;">{{error}}</p>
    {% endif %}
    <input type="submit" class="form-button" value="Complete" >
</div>
</form>

{% endblock %}